-#this is going to search for the form in docs directory its going to take form partial and render it in new.html
-#this will take us back to doc path
.wrapper_with_padding
	%h1 Edit doc!!

	= render 'form'

	= link_to "Cancel", doc_path
